<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="font_1075269_o7fss4371n/iconfont.css"/>
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}
			.a>div {
				width: 248px;
				height: 305px;
				padding: 12px;
			}
			.a>div>img {
				width: 224px;
				height: 224px;
				padding: 12px;
			}
			.a>div>p {
				text-align: center;
				font-size: 16px;
				margin-top: 10px;
			}
			.q>ul>li {
				margin-top: 12px;
			}
			hr {
				margin-top: 15px;
				margin-bottom: 18px;
			}
		</style>
	</head>
	<body>
		<div style="height:1000px;width: 30%;position: fixed;">
			<div class="m" style="display: none;">
				<div class="row" style="margin: 0;height: 160px;">
					<div style="margin-left: 10px;padding: 18px;font-size:16px;font-weight: 600;">
						<img class="iconxingbakelogo" width=35 src="https://www.starbucks.com.cn/assets/images/logo.svg" >
						<span class="iconfont iconchenghao x" style="vertical-align: middle;font-size:25px;float: right;margin-right: 5px;"></span>
					</div>
				</div>
				<div class="row q" style="margin: 0;">
					<ul style="margin-left: 85px;list-style: none;font-size: 18px;font-weight: 600;">
						<li style="margin-top: 0px;">门店</li>
						<li>星享俱乐部</li>
						<li>菜单</li>
						<hr />
						<li >星巴克移动应用</li>
						<li>星礼卡</li>
						<li>星巴克臻选<sup style="font-size: 1px;">TM</sup</li>
						<li>专星送<sup style="font-size: 5px;">TM</sup></li>
						<li>咖啡星讲堂</li>
						<li>上海烘焙工坊</li>
						<li>关于星巴克</li>
						<li>帮助中心</li>
						<hr />
					</ul>
					<div style="margin-left: 85px;font-size: 16px;margin-top: 20px;">
						<span class="iconfont icondenglu"></span>
						<%if(typeof name=='undefined'){%>
							<span class="loginbtn" style="color: green;">登录</span>
						<%}else{%>
							<span style="color:green">欢迎<%=name%></span>
						<%}%>
						<span class="regbtn" style="margin-left: 30px;display: inline-block;line-height: 30px;text-align: center;
							border-radius: 20px 20px;border: 1px solid green;;width: 60px;height: 30px;color: green;">注册</span>
					</div>
					<div style="color: #9E9E9E; margin-left: 85px;margin-top:20px;font-size: 12px;">
						<div style="letter-spacing: 2px;">English|隐私政策|使用条款</div>
						<div style="letter-spacing: 2px;"><img src="../public/imgs/guohui.png" width=10 alt="">沪公网安备 31010402000318号 沪ICP备17003747号</div>
					</div>
				</div>
			</div>
		
			<div class="mm">
				<div class="row" style="margin: 0;height: 225px;">
					<div style="margin-left: 10px;padding: 18px;font-size:16px;font-weight: 600;">
						<img class="iconxingbakelogo" width=35 src="https://www.starbucks.com.cn/assets/images/logo.svg" >
						<span style="margin-left: 16px;">门店</span>
						<span style="margin-left: 18px;">我的账户</span>
						<span style="margin-left: 18px;">菜单</span>
						<span class="iconfont iconxialacaidan o" style="vertical-align: middle;font-size:25px;float: right;margin-right: 5px;"></span>
					</div>
				</div>
			
				
				<div class="row" style="margin: 0;">
					<div style="margin-left: 82px;">
						<div style="font-size: 25px;font-weight: 600px;">菜单</div>
						<ul style="list-style: none;font-size: 16px;">
							<li style="margin-bottom: 8px;margin-top: 20px;font-weight: 600;font-size: 16px">季度精选
								<div style="margin-top: -15px;color: green;">_______</div>	
							</li>
							<li style="margin-bottom: 12px;">饮料</li>
							<li style="margin-bottom: 12px;">美食</li>
							<li style="margin-bottom: 12px;">咖啡产品</li>
							<li style="margin-bottom: 12px;">商品</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div style="float: right;width:70%">
		<div class="container-fluid">
        <div class="row" >
            <div class="col-md-12" >
            	<div class="row">
            		<a href="#go"><img src="imgs4/1.jpg" alt="" width=100%/></a>
            	</div>
            	<div class="row" style="height: 240px;text-align: center;"> 
            		<div class="box" >
            			<div style="height: 50px;font-size: 25px;margin-top: 50px;">沉醉花花世界</div>
            			<div style="font-size: 16px;text-align: center">樱花浪漫玛奇朵开启全新春日，浪漫樱花风味融入醇厚浓缩咖啡中，樱花风味淋酱与粉色糖粒在顶部</div>
            			<div style="font-size: 16px;text-align: center">留下浪漫印记，如樱花般绽放。</div>
            			<div style="font-size: 16px;text-align: center">朗姆香草风味玛奇朵，灵感来自毛里求斯岛，入口淡淡朗姆酒香透出芬芳的香草香，带你体验奇妙的</div>
            			<div style="font-size: 16px;text-align: center">香草风味之旅。</div>
            		</div>
            	</div>
            	<div>
            		<a href="#go"><img src="imgs4/2.jpg" alt="" style="height: 605px;width:100%;margin: 0 auto;"/></a>
            	</div>
            	<div class="row" style="height: 200px;text-align: center;">
            		<div style="height: 50px;font-size: 22px;margin-top: 45px;">樱花季星杯如约而至，和你一起赏樱</div>
            		<p style="font-size: 16px;">强势回归的樱花设计更显娇嫩柔美，仿佛置身于樱花花海中。更有萌萌哒新朋友加入，和活泼的柴<br />
            		犬、软萌的猫咪一起，分享赏樱的美好时刻。</p>
            	</div>
            	<div >
            		<a href="#go"><img src="imgs4/3.jpg" alt="" style="height: 481px;width:100%;margin: 0 auto;"/></a>
            	</div>
            	<div class="row" style="height: 200px;text-align: center;">
            		<div style="height: 50px;font-size: 22px;margin-top: 45px;">品味这一杯春日之味</div>
            		<p style="font-size: 16px;">浪漫樱花设计的春意礼赞综合咖啡，应季而生，和你一起庆祝这个万象更新的季节。浓郁的黑樱桃<br />和雪松香料般的风味，醇度厚重，回味悠长。</p>
            	</div>
            	<div >
            		<a href="#go"><img src="imgs4/4.jpg" alt="" style="height: 481px;width:100%;margin: 0 auto;"/></a>
            	</div>
            	<div class="row" style="height: 200px;text-align: center;">
            		<div style="height: 50px;font-size: 22px;margin-top: 45px;">用星拼悦蛋糕礼盒，定制一份春天</div>
            		<p style="font-size: 16px;">缤纷的坚果燕麦酸奶风味蛋糕，搭配满满粉红少女心的樱之花意慕斯蛋糕，再添上春日小清新的抹<br />茶森林生巧蛋糕，随心所拼，让你的每一次欢聚都与众不同。</p>
            	</div>
            	<div >
            		<a href="#go"><img src="imgs4/5.jpg" alt="" style="height: 481px;width:100%;margin: 0 auto;"/></a>
            	</div>
            	<div class="row" style="height: 200px;text-align: center;">
            		<div style="height: 50px;font-size: 22px;margin-top: 45px;">温暖你的午餐时光</div>
            		<p style="font-size: 16px;">经典烟熏鸡胸肉沙拉及法式秘制烤鸭腿沙拉，保持营养均衡的同时还能满足大口吃肉的双重享受。<br />可加热的主食部分，既能温暖你的胃又不失美味。</p>
            	</div>
            	<div >
            		<a href="#go"><img src="imgs4/6.jpg" alt="" style="height: 481px;width:100%;margin: 0 auto;"/></a>
            	</div>
            	<div class="row" style="height: 200px;text-align: center;">
            		<div style="height: 50px;font-size: 22px;margin-top: 45px;">浪漫春日会员星礼包</div>
            		<p style="font-size: 16px;">樱花烂漫会员星礼包，卡面仿佛樱花在枝头绽放，时刻感受樱花的浪漫氛围。潜底逐光会员星礼<br />包，卡面设计将海水的湛蓝与春天的新绿结合，带来春天的清新感受。</p>
            	</div>
            	<div >
            		<a href="#go"><img src="imgs4/7.jpg" alt="" style="height: 481px;width:100%;margin: 0 auto;"/></a>
            	</div>
            	<div class="row" style="height: 220px;text-align: center;">
            		<div style="height: 50px;font-size: 22px;margin-top: 45px;">春日臻选新体验</div>
            		<p style="font-size: 16px;">你偏爱哪种风味，是蜂蜜般甜味中融入花香与柑橘般的味道，是芬芳花香中又透着樱桃可乐般的味<br />道，还是鲜明的水果般风味散发着黑胡桃般的香气，还是奶油巧克力与热带水果的风味再带点焦糖<br />般的甜感？来<a href="#" style="color: #009758;">星巴克臻选™门店</a>，开启你的春天风味之旅吧。</p>
            	</div>
            	<div id="go" class="row" style="background-color: #F7F7F7;">
            		<div style="font-size: 22px;text-align: center;margin-top: 40px;">所有新品</div>
            		<div class="a" style="display: flex;flex-wrap:wrap;justify-content:center;align-items:center;width: 800px;margin: 0 auto;">
	            		<div >
	            			<img src="imgs4/8.jpg" alt="" />
	            			<p>樱花浪漫玛奇朵</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/9.jpg" alt="" />
	            			<p>朗姆香草风味玛奇朵</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/10.jpg" alt="" />
	            			<p>樱之花意慕斯蛋糕</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/11.jpg" alt="" />
	            			<p>椰香绵绵挞</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/12.jpg" alt="" />
	            			<p>抹茶森林生巧蛋糕</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/13.jpg" alt="" />
	            			<p>坚果燕麦酸奶风味蛋糕</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/14.jpg" alt="" />
	            			<p>春意礼赞综合咖啡豆</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/15.jpg" alt="" />
	            			<p>春意礼赞综合免煮咖啡</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/16.jpg" alt="" />
	            			<p>春意礼赞便携式滴虑咖啡</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/17.jpg" alt="" />
	            			<p>尼加拉瓜马拉卡杜拉咖啡豆</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/18.jpg" alt="" />
	            			<p>埃塞俄比亚卡永山庄园咖啡豆</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/19.jpg" alt="" />
	            			<p>哥伦比亚奇异吉拉尔多咖啡豆</p>
	            		</div>
	            		<div style="width: 248px;height: 355px;">
	            			<img src="imgs4/20.jpg" alt="" />
	            			<p>日晒巴西里奥韦尔迪庄园咖啡<br />豆</p>
	            		</div>
	            		<div style="width: 248px;height: 355px;">
	            			<img src="imgs4/21.jpg" alt="" />
	            			<p>樱花烂漫会员星礼包，随卡附<br />赠樱花杯型零钱包一个，共两<br />款可选</p>
	            		</div>
	      
	            		<div style="width: 248px;height: 355px;">
	            			<img src="imgs4/22.jpg" alt="" />
	            			<p>人鱼系列潜底逐光会员星礼<br />包，随卡附赠精美杯型沙漏挂<br />件一个</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/23.jpg" alt="" />
	            			<p>樱花盛放星礼卡</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-1.jpg" alt="" />
	            			<p>12oz翩翩日樱款双层马克杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-2.jpg" alt="" />
	            			<p>12oz翩翩夜樱款双层马克杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-3.jpg" alt="" />
	            			<p>12oz樱花树下款马克杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-4.jpg" alt="" />
	            			<p>12oz暖阳樱花漫步款不锈钢随行杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-5.jpg" alt="" />
	            			<p>12oz闪耀粉樱款LED玻璃杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-6.jpg" alt="" />
	            			<p>12oz粉樱飘落款水球杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-7.jpg" alt="" />
	            			<p>12oz樱花飞舞款LED随行杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-8.jpg" alt="" />
	            			<p>16oz暗夜之樱款双层不锈钢桌面杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-9.jpg" alt="" />
	            			<p>12oz柔美粉樱款冷变玻璃杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-10.jpg" alt="" />
	            			<p>8oz灵动樱花款塑料随行杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-11.jpg" alt="" />
	            			<p>12oz柔美粉樱款不锈钢桌面杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-12.jpg" alt="" />
	            			<p>8oz萌猫粉樱款双层玻璃杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-13.jpg" alt="" />
	            			<p>12oz柔美粉樱款不锈钢随行杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-14.jpg" alt="" />
	            			<p>16oz灿烂日樱款吸管杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-15.jpg" alt="" />
	            			<p>6oz粉色猫爪款双层玻璃杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-16.jpg" alt="" />
	            			<p>10oz赏樱小狗款马克杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-17.jpg" alt="" />
	            			<p>唯美樱花款玻璃泡茶组</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-18.jpg" alt="" />
	            			<p>1L膳魔师樱之漫舞款保温杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-19.jpg" alt="" />
	            			<p>350ml膳魔师樱之律动款保温<br />杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-20.jpg" alt="" />
	            			<p>450ml Contigo柔美樱花款吸<br />管杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-21.jpg" alt="" />
	            			<p>浪漫樱花款杯垫</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-22.jpg" alt="" />
	            			<p>绚丽日樱款搅拌棒</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-23.jpg" alt="" />
	            			<p>绚丽日樱款雨伞</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-24.jpg" alt="" />
	            			<p>8oz樱花绽放款马克杯组</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-25.jpg" alt="" />
	            			<p>12oz赏樱小狗款马克杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-31.jpg" alt="" />
	            			<p>12oz赏樱猫咪款马克杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-27.jpg" alt="" />
	            			<p>赏樱小狗款杯套</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-28.jpg" alt="" />
	            			<p>赏樱猫咪款杯套</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-29.jpg" alt="" />
	            			<p>12oz赏樱宠物款对杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-30.jpg" alt="" />
	            			<p>16oz夜樱飘零款吸管杯</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-26.jpg" alt="" />
	            			<p>春日赏樱款杯盖组</p>
	            		</div>
	            		<div >
	            			<img src="imgs4/mer-32.jpg" alt="" />
	            			<p>12oz雾金樱花款马克杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-33.jpg" alt="" />
	            			<p>闪耀樱花款卡套</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-34.jpg" alt="" />
	            			<p>16oz魅惑樱花款保温杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-35.jpg" alt="" />
	            			<p>500ml闪耀樱花款太阳能发光<br />杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/24.jpg" alt="" />
	            			<p>闪耀樱花款笔记本</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-37.jpg" alt="" />
	            			<p>500ml膳魔师艳丽夜樱款保温<br />杯</p>
	            		</div>
	            		<div style="width: 248px;height: 330px;">
	            			<img src="imgs4/mer-38.jpg" alt="" />
	            			<p>10oz漫天粉樱款马克杯</p>
	            		</div>
	            		
            		</div>
            	</div>
            </div>
        </div>
    </div>
    </div>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
    	$(".o").click(function(){
    		$('.m').css('display','block')
    		$('.mm').css('display','none')
    	})
    	
    	$(".x").click(function(){
    		$('.m').css('display','none')
    		$('.mm').css('display','block')
		})
		//logo
		$('.iconxingbakelogo').on('click',function(){
			window.location.href='/main.html'
		})
		//login reg
		$('.loginbtn').on('click',function(){
			window.location.href='/login.html'
		})
		$('.regbtn').on('click',function(){
			window.location.href='/reg.html'
		})
    </script>
	</body>
</html>

