<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="font_1076076_3yp5vvkpqjr/iconfont.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
			*{
				margin: 0;
				padding: 0;
			}
			.a>img {
				width: 760px;
				height: 500px;
				position: absolute;
				/*vertical-align: top;*/
			}
			.a >div {
				position: absolute;
			}
			
			.b>img {
				width: 190px;
				height: 190px;
				position: absolute;
			}
			
		</style>
	</head>
	<body >
		<div class="container-fluid one" style="display: block;">
			<div class="row" style="height: 85px;background-color: #F2F2F2;">
				<div style="padding:30px; vertical-align: middle;line-height: 20px;position: relative;">
					<a href="#"><img src="logo.jpg" class="logo"></a>
					<a href="#"><span class="iconfont icon-bx-menu-alt-right menu" style="color:#B0B0B0;font-size:20px;float: right;margin-left: 20px;"></span></a>
					<a href="#"><span class="iconfont icon-sousuo6 sousuo" style="color:#B0B0B0;font-size: 20px;float: right;margin-left: 20px;"></span></a>
					<a href="#"><span class="iconfont icon-weixin weixin" style="color:#B0B0B0;font-size: 20px;float: right;margin-left: 20px;"></span></a>
					<div class="fang1" style="display: none;transform: rotate(45deg);width: 14px;height:14px; position: absolute;right: 110px;top: 60px;background-color: white;"></div>
					<div class="fang2" style="display: none;text-align: center;width: 135px;height: 160px;background-color: white; position: absolute;right: 50px;top: 67px;z-index: 1;">
						<div style="margin-top: 10px;margin-bottom: 10px">使用微信扫码分享</div>
						<img src="imgs3/下载.png"/>
					</div>
				</div>
			</div>
			<div class="row a" style="position: relative;overflow: hidden;height: 500px;">
				<img src="imgs3/1.jpg" class="q" style="left:0px;"/>
				<div class="q" style="text-align: center;display: none;width: 760px;height: 100px;letter-spacing: 2px;z-index: 2;left:0px;bottom: 0px;font-size: 18px;color: white;"><div style="margin-top: 45px;">深圳海岸城店</div></div>
				<img src="imgs3/2.jpg" class="q1" style="left:760px;"/>
				<div class="q1" style="text-align: center;display: none;width: 760px;height: 100px;letter-spacing: 2px;z-index: 2;left:760px;bottom: 0px;font-size: 18px;color: white;"><div style="margin-top: 45px;">北京太古里店</div></div>
				<img src="imgs3/3.jpg" class="q2"style="left:1520px;"/>
				<div class="q2" style="text-align: center;display: none; width: 760px;height: 100px;letter-spacing: 2px;z-index: 2;left:1520px;bottom: 0px;font-size: 18px;color: white;"><div style="margin-top: 45px;">成都太古里店</div></div>
				<img src="imgs3/4.jpg" class="q3"style="left:2280px;"/>
				<div class="q3" style="text-align: center;display: none; width: 760px;height: 100px;letter-spacing: 2px;z-index: 2;left:2280px;bottom: 0px;font-size: 18px;color: white;"><div style="margin-top: 45px;">北京坊旗舰店</div></div>
				<img src="imgs3/5.jpg" class="q4"style="left:3040px;"/>
				<div class="q4" style="text-align: center;display: none; width: 760px;height: 100px;letter-spacing: 2px;z-index: 2;left:3040px;bottom: 0px;font-size: 18px;color: white;"><div style="margin-top: 45px;">天津大悦城店</div></div>
				<img src="imgs3/6.jpg" class="q5" style="left:3800px;" />
				<div class="q5" style="text-align: center;display: none; width: 760px;height: 100px;letter-spacing: 2px;z-index: 2;left:3800px;bottom: 0px;font-size: 18px;color: white;"><div style="margin-top: 45px;">北京太古里店</div></div>
			</div>
			<div class="row" style="height: 40px;"></div>
			<div class="row b" style="position: relative;overflow: hidden;height: 200px;">																											
				<img src="img2/1.jpg" class="q61"style="left: 0px;"/>																					  			 
				<img src="img2/2.jpg" class="q6"style="left: 190px;"/>
				<img src="img2/3.jpg" class="q7"style="left: 380px;"/>
				<img src="img2/4.jpg" class="q8"style="left: 570px;"/>
				<img src="img2/7.jpg" class="q9"style="left: 760px;"/>
				<img src="img2/8.jpg" class="q10"style="left: 950px;"/>
				<img src="img2/9.jpg" class="q11"style="left: 1140px;"/>
				<img src="img2/10.jpg" class="q12"style="left: 1330px;"/>
				<img src="img2/11.jpg" class="q13"style="left: 1520px;"/>
				<img src="img2/13.jpg" class="q14"style="left:1710px;"/>
				<img src="img2/14.jpg" class="q15"style="left: 1900px;"/>	
				<img src="img2/15.jpg" class="q16"style="left: -190px;"/>	
			</div>
			<div class="row" style="height: 10px;"></div>
			<div class="row" style="height: 100px;">
				<div style="padding-top: 50px;padding-left: 50px;font-size: 10px;color: #D4D4D4;">© 2018 Starbucks Corporation. 沪ICP备17003747号</div>
			</div>
		</div>
		
		<div class="container-fluid two" style="display: none;">
			<div class='row' style="height: 30px;">
			</div>
			<div class='row' style="height:60px;">
				<div class="iconfont icon-cha cha1" style="color:#262626;font-weight: 900;font-size: 22px;float: right;margin-right: 50px;"></div>
			</div>
			<div class="row">
				<div align="center">
				<input size="60" style="color:white; padding-left:20px; outline: none; height:55px;font-size: 25px;background-color: #262626;border-color:#262626;" type="text" placeholder="查找门店..." />
				</div>
			</div>
		</div>
		
		<div class="container-fluid three" style="display: none;">
			<div class='row' style="height: 30px;">
			</div>
			<div class='row' style="height:60px;">
				<div class="iconfont icon-cha cha2" style="color:#262626;font-weight: 900;font-size: 22px;float: right;margin-right: 50px;"></div>
			</div>
			<div class='row' style="height: 170px;">
			</div>
			<div class="row" style="letter-spacing: 5px;font-size: 25px;">
				<div  style="text-align:center; height: 125px;">
					<a href="#"><span class="mengdian" style="color: #BCBCBC;">门店展示</span></a>
				</div>
				<div style="text-align:center;height: 125px;">
					<a href="#"><span class="linggan"  style="color: #BCBCBC;">全部灵感</span></a>
				</div>
				<div  style="text-align:center;height: 125px;">
					<a href="#"><span class="guanyu" style="color: #BCBCBC;">关于我们</span></a>
				</div>
				<div  style="text-align:center;height: 125px;">
					<a href="#"><span class="english" style="color: #BCBCBC;">English</span></a>
				</div>
			</div>
		</div>
		
		
		
		
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript">
			$('.mengdian').mouseenter(function(){
				console.log(6)
				$('.mengdian').css('color','white')
				$('.mengdian').mouseleave(function(){
					$('.mengdian').css('color','#BCBCBC')
				})
			})
			
			$('.linggan').mouseenter(function(){
				console.log(6)
				$('.linggan').css('color','white')
				$('.linggan').mouseleave(function(){
					$('.linggan').css('color','#BCBCBC')
				})
			})
			
			$('.guanyu').mouseenter(function(){
				console.log(6)
				$('.guanyu').css('color','white')
				$('.guanyu').mouseleave(function(){
					$('.guanyu').css('color','#BCBCBC')
				})
			})
			
			$('.english').mouseenter(function(){
				console.log(6)
				$('.english').css('color','white')
				$('.english').mouseleave(function(){
					$('.english').css('color','#BCBCBC')
				})
			})
			
			
			


			
			setInterval(function(){
				if(parseInt($('.q').css('left'))<=-760){
					$('.q').css('left','3800px')
				}
			},100)
			
			setInterval(function(){
				if(parseInt($('.q1').css('left'))<=-760){
					$('.q1').css('left','3800px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q2').css('left'))<=-760){
					$('.q2').css('left','3800px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q3').css('left'))<=-760){
					$('.q3').css('left','3800px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q4').css('left'))<=-760){
					$('.q4').css('left','3800px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q5').css('left'))<=-760){
					$('.q5').css('left','3800px')
				}
			},100)
//			
//			
//				
//		
			setInterval(function(){
				if(parseInt($('.q16').css('left'))>=2090){
					$('.q16').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q15').css('left'))>=2090){
					$('.q15').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q14').css('left'))>=2090){
					$('.q14').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q13').css('left'))>=2090){
					$('.q13').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q12').css('left'))>=2090){
					$('.q12').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q11').css('left'))>=2090){
					$('.q11').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q10').css('left'))>=2090){
					$('.q10').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q9').css('left'))>=2090){
					$('.q9').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q8').css('left'))>=2090){
					$('.q8').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q7').css('left'))>=2090){
					$('.q7').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q6').css('left'))>=2090){
					$('.q6').css('left','-190px')
				}
			},100)
			setInterval(function(){
				if(parseInt($('.q61').css('left'))>=2090){
					$('.q61').css('left','-190px')
				}
			},100)

			$('.logo').click(function(){
				location.reload()
			})
			var key=true;
			$('.weixin').click(function(){
				if(key){
					$('.fang1').css('display','block')
					$('.fang2').css('display','block')
					key=false
				}else{
					$('.fang1').css('display','none')
					$('.fang2').css('display','none')
					key=true
				}
			})
			
			
			var b
			var a=setInterval(function(){
				$('.a img').animate({
					left:'-=1px'
				},1) 
				$('.a div').animate({
					left:'-=1px'
				},1) 
				
			},20)
			
			var d
			var c=setInterval(function(){
				$('.b img').animate({
					left:'+=0.5px'
				},1)
			},20)
			
			
//			
			$('.a img').on("mouseleave",function(){
				$(this).next().css('display','none')
				
//					clearInterval(b)
//					 a=setInterval(function(){
//						$('.a img').animate({
//							left:'-=1px'
//						},1) 
//					},1)
			})
			$('.a img').on("mouseenter",function(){
				$(this).next().css('display','block')
				$(this).next().css('background-color','rgba(0,0,0,0.8)')
				
				$(this).next().on("mouseenter",function(){
					$(this).css('display','block')
					$(this).css('background-color','rgba(0,0,0,0.8)')
					
					$(this).on("mouseleave",function(){
						$(this).css('display','none')
					})
					
				})

			})

			
			$('input').focus(function(){
					$('input').css('color','white');
					$('input').css('background-color','#4D4D4D');
					$('input').css('border-color','#4D4D4D');	
				$('input').blur(function(){
					$('input').css('color','#7B7B7B');
					$('input').css('background-color','#262626');
					$('input').css('border-color','#262626');
				})
				
			})
			
			$('.cha1').mouseenter(function(){
				$('.cha1').css('color','white')
			})
			$('.cha1').mouseleave(function(){
				$('.cha1').css('color','#262626')
			})
			$('.cha2').mouseenter(function(){
				$('.cha2').css('color','white')
			})
			$('.cha2').mouseleave(function(){
				$('.cha2').css('color','#262626')
			})
			$('.logo').mouseenter(function(){
				$('.logo').css('color','#494949')
				$('.logo').mouseleave(function(){
					$('.logo').css('color','#B0B0B0')
				})
			})
			$('.menu').mouseenter(function(){
				$('.menu').css('color','#494949')
				$('.menu').mouseleave(function(){
					$('.menu').css('color','#B0B0B0')
				})
			})
			$('.sousuo').mouseenter(function(){
				$('.sousuo').css('color','#494949')
				$('.sousuo').mouseleave(function(){
					$('.sousuo').css('color','#B0B0B0')
				})
			})
			$('.weixin').mouseenter(function(){
				$('.weixin').css('color','#494949')
				$('.weixin').mouseleave(function(){
					$('.weixin').css('color','#B0B0B0')
				})
			})
			
			$('.cha1').click(function(){
				$('.two').css('display','none');
				$('body').css('background-color','white');
				$('.one').css('display','block');
			})
			$('.sousuo').click(function(){
				$('.one').css('display','none');
				$('.two').css('display','block');
				$('body').css('background-color','black');
			})
			
			$('.cha2').click(function(){
				$('.three').css('display','none');
				$('body').css('background-color','white');
				$('.one').css('display','block');
			})
			$('.menu').click(function(){
				$('.one').css('display','none');
				$('.three').css('display','block');
				$('body').css('background-color','black');
			})
			
			
		</script>
	</body>
</html>
